<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p><a href="restaurants?type=italiano">Italiano</a></p>
<p><a href="restaurants?type=chino">chino</a></p>
<p><a href="restaurants?type=japones">japonés</a></p>