

<header>
 <div class="layer d-flex flex-column  align-items-center justify-content-center" style="height: 100%">
    {{#if currentUser}}
    <h2>Hi {{this.name}}</h2>
    {{else}}
    <h2>The best restaurants of Barcelona</h2>
    {{/if}}
    
    <form action="/restaurants"  method="get" class="form-inline pt-4">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <select class="form-control " id="exampleFormControlSelect1" name="type">
              <option value="">What do you want to eat?</option>
              <option value="italian">Italian</option>
              <option value="africano">Africano</option>
              <option value="aleman">Alemán</option>
              <option value="americano">Americano</option>
              <option value="andaluz">Andaluz</option>
               <option value="arabe">Árabe</option>             
               <option value="arroceria">Arrocería</option>                       
               <option value="asiatico">Asiático</option>             
               <option value="asturiano">Asturiano</option>             
               <option value="belga">Belga</option>             
               <option value="brasileno">Brasileño</option>             
               <option value="castellano">Castellano</option>             
               <option value="catalan">Catalán</option>             
               <option value="chino">Chino</option>             
               <option value="mercado">De mercado</option>             
               <option value="colombiano">Colombiano</option>             
               <option value="coreano">Coreano</option>             
               <option value="creativo">Creativo</option>             
               <option value="creperia">Crepería</option>             
               <option value="cubano">Cubano</option>             
               <option value="fusion">De Fusión</option>             
               <option value="egipcio">Egipcio</option>             
               <option value="espanol">Español</option>             
               <option value="frances">Francés</option>             
               <option value="gallego">Gallego</option> 
               <option value="griego">Griego</option> 
               <option value="indio">Indio</option> 
               <option value="ingles">Inglés</option> 
               <option value="internacional">Internacional</option> 
               <option value="irani">Iraní</option> 
               <option value="Italiano">Italiano</option> 
               <option value="japones">Japonés</option> 
               <option value="latino">Latino</option> 
               <option value="libanes">Libanés</option> 
               <option value="marisqueria">Marisquería</option> 
               <option value="marroqui">Marroquí</option> 
               <option value="mediterraneo">Mediterráneo</option> 
               <option value="mexicano">Mexicano</option> 
               <option value="navarro">Navarro</option> 
               <option value="peruano">Peruano</option> 
               <option value="portugues">Portugués</option> 
               <option value="Ruso">Ruso</option> 
               <option value="suizo">Suizo</option> 
               <option value="tailandes">Tailandés</option> 
               <option value="turco">Turco</option> 
               <option value="valenciano">Valenciano</option> 
               <option value="vasco">Vasco</option> 
               <option value="vegetariano">Vegetariano</option> 
               <option value="vietnamita">Vietnamita</option>                         
            </select>
          </div>
          <div class="col-auto">
            <input type="hidden" value="0" name="page">
            <button type="submit" class="btn btn-primary my-2 my-sm-0">Search</button>
          </div>
        </div>
      </form>
 </div>
</header>


<div class="container pb-5" id="restaurant-types">
  <h2 class="pb-3  pt-5 d-flex justify-content-center">Types of restaurant</h2>
<div class="row">
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/italian.jpg);" class="image-grid-cover">
								<a href="/restaurants?type=italiano&page=0" class="cover-wrapper">Italian</a>
                <a href="/restaurants?type=italiano&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/asador.jpg	);" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=argentino&page=0" class="cover-wrapper" style="height: 100%">Argentino</a>
                <a href="/restaurants?type=argentino&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/veggie.jpg	);" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=vegano&page=0" class="cover-wrapper">Veggie</a>
                <a href="/restaurants?type=vegano&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/frances.jpg)	;" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=frances&page=0" class="cover-wrapper">Francés</a>
                <a href="/restaurants?type=frances&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/asturiano.jpg);" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=asturiano&page=0" class="cover-wrapper">Asturiano</a>
                <a href="/restaurants?type=asturiano&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/arroceria.jpg		);" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=arroceria&page=0" class="cover-wrapper">Arroceria </a>
                <a href="/restaurants?type=arroceria&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
            						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/japones.jpg)	;" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=japones&page=0" class="cover-wrapper">Japonés</a>
                <a href="/restaurants?type=japones&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/chino.jpg);" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=chino&page=0" class="cover-wrapper">Chino</a>
                <a href="/restaurants?type=chino&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/americano.jpg		);" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=americano&page=0" class="cover-wrapper">Americano </a>
                <a href="/restaurants?type=americano&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
					</div>
</div>
