
{{!-- <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/" style=""><h1><strong>Eat</strong><small>.bcn</small></h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse align-items-end " id="navbarColor02">
      <ul class="navbar-nav mr-2">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="restaurants" style="">All restaurants</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="login" style="">Login</a>
        </li>
        <li class="nav-item pt-2">
          <a class="nav-link border border-white rounded p-1" href="signup" style="display:inline !important;">Signup</a>
        </li>
      </ul>

    </div>
  </nav> --}}

<header>
 <div class="layer d-flex flex-column  align-items-center justify-content-center" style="height: 100%">
    <h2>The best restaurants of Barcelona</h2>
    <form action="/restaurants"  method="get" class="form-inline pt-4">
        <div class="form-row align-items-center">
          {{!-- <div class="col-auto">
            <input type="text" class="form-control-lg mr-sm-1" id="inlineFormInput" placeholder="Search by keyword"  >
          </div> --}}
          <div class="col-auto">
            <select class="form-control-lg " id="exampleFormControlSelect1" name="type">
              <option>What do you want to eat?</option>
              <option value="italian">Italian</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary  btn-lg my-2 my-sm-0">Search</button>
          </div>
        </div>
      </form>
 </div>
</header>


<br>
<br>






<div class="container" id="restaurant-types">
  <h2 class="pb-3 d-flex justify-content-center">Types of restaurant</h2>
<div class="row">
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/italian.jpg);" class="image-grid-cover">
								<a href="/restaurants?type=italiano&page=0" class="cover-wrapper">Italian</a>
                <a href="/restaurants?type=italiano&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/asador.jpg	);" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=asador&page=0" class="cover-wrapper" style="height: 100%">Asador</a>
                <a href="/restaurants?type=asador&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(src/veggie.jpg	);" class="entry-cover image-grid-cover has-image">
								
								<a href="/restaurants?type=vegano&page=0" class="cover-wrapper">Veggie</a>
                <a href="/restaurants?type=vegano&page=0" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(http://www.technocrazed.com/wp-content/uploads/2015/12/Airplane-wallpaper-112-640x360.jpg);" class="entry-cover image-grid-cover has-image">
								
								<a href="#" class="cover-wrapper">Havalimanı Transferi</a>
                <a href="#" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(https://img-s2.onedio.com/id-5738f74cb6efafb314a46f07/rev-0/w-600/h-300/s-d707c9ec5af8f66dc5506a2796ac14fce1fbb35b.jpg	);" class="entry-cover image-grid-cover has-image">
								
								<a href="#" class="cover-wrapper">Günlük Seyahat</a>
                <a href="#" class="image-grid-clickbox"></a>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 image-grid-item">
							<div style="background-image: url(https://image.stern.de/8205460/16x9-940-529/3c6ed305ea6e6f63c0454fda4dbc5d02/hx/pic-grand-calfornia-2018--9-.jpg	);" class="entry-cover image-grid-cover has-image">
								
								<a href="#" class="cover-wrapper">Karavan Kiralama </a>
                <a href="#" class="image-grid-clickbox"></a>
							</div>
						</div>
					</div>
</div>



<br>
<ul id="type-restaurants">
  <li><a href="restaurants">Todo</a></li>
  <li><a href="restaurants?type=africano">Africano</a></li>
  <li><a href="restaurants?type=aleman">Alemán</a></li>
  <li><a href="restaurants?type=americano">Americano</a></li>
  <li><a href="restaurants?type=andaluz">Andaluz</a></li>
  <li><a href="restaurants?type=arabe">Árabe</a></li>
  <li><a href="restaurants?type=argentino">Argentino</a></li>
  <li><a href="restaurants?type=arroceria">Arrocería</a></li>
  <li><a href="restaurants?type=asador">Asador</a></li>
  <li><a href="restaurants?type=asiatico">Asiático</a></li>
  <li><a href="restaurants?type=asturiano">Asturiano</a></li>
  <li><a href="restaurants?type=belga">Belga</a></li>
  <li><a href="restaurants?type=brasileno">Brasileño</a></li>

</ul>
<br><br>

{{!-- Brasileño
Camboyano
Castellano
Catalán
Chino
De mercado
Colombiano
Coreano
Creativo
Crepería
Cubano
De Fusión
Egipcio
Español
Etíope
Europa del Este
Extremeño
Francés
Gallego
Griego
Indio
Inglés
Internacional
Iraní
Italiano
Japonés
Latino
Libanés
Marisquería
Marroquí
Mediterráneo
Mexicano
Navarro
Peruano
Portugués
Ruso
Suizo
Tailandés
Turco
Valenciano
Vasco
Vegetariano
Vietnamita --}}



