<nav aria-label="breadcrumb">
  <ol class="breadcrumb arr-right">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Your favorites</li>
  </ol>
</nav>
<div class="containter">
  <h1>Your favorites</h1>
</div>