body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.price1:after{
  content: "$";
}

.price2:after{
  content: "$$";
}


.price3:after{
  content: "$$$";
  
}


.price4:after{
  content: "$$$$";
}

